/* Start of contact us image */

/* for the image that says about us */

.contact-us {
    background: url(images/contact_us.jpg);
    height: 200px;
    background-size: cover;
    background-position: 50%;
    
}   

.contact-us-img {
    background-color: #90b5ff50;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-img h1 {
    font-size: 4rem;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 600px) {
    .contact-us {
        height: 150px;
    }

    .contact-us-img h1 {
        font-size: 2rem;
    }
}




@media only screen and (max-width: 400px) {
    .contact-us-img h1{
        font-size: 2rem;
    }

    .contact-us {
        height: 100px;
    }
    
}

/* End of contact us image */

/* Start of salient features */
.features-heading {
    text-align: center;
    color: rgb(72, 71, 71);
    margin: 40px;
}



.salient-features{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin: 40px 0;
    gap: 5%;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width:200px;
    margin: 30px 0;
    /* background-color: blueviolet; */
    height: auto;
}

.feature img {
    width: 100px;
    height: auto;
    
}

.feature h3 {
    text-align: center;
    font-size: medium;
}


@media only screen and (max-width: 1250px) {
    .feature {
        width: 250px;
    }
}

@media only screen and (max-width: 630px) {
    .feature {
        width: 200px;
    }
}

@media only screen and (max-width: 459px) {
    .feature {
        width: 320px;
    }

    .salient-features{
        gap: 30px;
    }

    .features-heading {
        font-size: 1.4rem;
    }

    .feature h3 {
        text-align: center;
        font-size: 1rem;
    }
}

/* End of salient features */



/* Start of services list */

.services-list {
    padding: 0 20px 20px 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* border: 2px dotted black;
 */
}

.services-list-container{
    width: 50%;
    margin: 20px 10px;
}

.ser-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(132, 177, 255);
    margin: 10px 0 10px 0;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
}

.ser-list:hover {
    background-color: rgb(160, 195, 255);
    transform: scale(101%);
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    cursor: pointer;   
}

.ser-list h1 {
    font-size: large;
    font-weight: 0.5rem;
}

.ser-list span {
    background-color: rgb(101, 157, 255);
    border-radius: 5px;
    
}

.ser-list-ul {
    list-style-type: none;
    opacity: 0;
    max-height: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s, opacity .5s, max-height .5s;
}




.ser-list-ul.ser-list-anim-open{
    transform-origin: top;
    max-height: 500px;
    transform: scaleY(1);
    opacity: 1;
    transition: transform .5s, opacity .5s, max-height .5s;
}


.ser-list-ul li {
    background-color: rgb(196, 216, 251);
    padding: 8px 8px 8px 30px;
    margin: 3px 0 3px 0;
    border-radius: 5px;
}

.ser-list-ul li:hover{
    transform: skew(-10deg, -1deg);
    transition: transform 0.5s;
}


/* End of services list */






/* Start of services hero */
.service-hero {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.ser-hero-img img {
    width: 70%;
    height: auto;
    margin: 0 15%;
}



.ser-hero h2 {
    font-size: 1.5rem;
    font-weight: 1rem;
    color: rgb(111, 111, 111);
    margin: 0 0 10px 0;
}

.ser-hero p {
    font-size: 1rem;
    color: rgb(111, 111, 111);
    line-height: 23px;
}
/* End of services hero */


/* Media queries for both service list and service hero */

@media only screen and (max-width: 630px) {
    .services-list-container{
        width: 100%;
    }

    .services-list {
        margin: 20px 0;
        padding: 0;
    }

    .ser-list h1 {
        font-size: medium;
        font-weight: 0.4rem;
    }

    .service-hero {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .services-list-container{
        width: 80%;
    }

    .services-list{    
        justify-content: center;
        flex-wrap: wrap;
    }

    .service-hero {
        width: 80%;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}


/* End of media queries */


/* Start of service button */

.service-button {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}
/* End of service button */


/* Start of special services */

.hero2-h2{
    font-size: 1.4rem;
    font-weight: 1rem;
}

.hero2-p{
    font-size: 1.1rem;
}

/* End of special services */